node_modules
package-lock.json
dist
npm-debug.log

/API/package-lock.json
/API/public/outWord
/API/node_modules
yarn-debug.log*
yarn-error.log*
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.slnconfig
