<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include header%>
    <form action="/home/login" class="" method="post">
        用户名：<input type="text" name="username" value="">
         <br />
        密码：<input type="password" name="password" value="">
        <br />
        <input type="submit" name="submit" value="登陆">
    </form>
</body>
</html>